<header class="banner" role="banner">
  <div class="section-container">
    <div class="section-content">
      <div class="banner-title">
        <a href="{{ site.baseurl }}/">
         <h1>TechFAR Hub</h1>
        </a>
      </div>
      <div class="banner-nav">
        <nav role="navigation" class="main-nav">
          <ul>
	    <li><a href="{{ site.baseurl }}/learn">Discover It</a></li>
	    <li><a href="{{ site.baseurl }}/community">Discuss It</a></li>
            <li><a href="{{ site.baseurl }}/build">Do It</a></li>
             <li><a href="{{ site.baseurl }}/build"></a></li>
            </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
